body {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
}
.maincontainer {
  display: block;
  justify-content: center;
}
.input-section {
  display: flex;
  flex: wrap;
  justify-content: center;
}
#displayitems {
  color: black;
}
button {
  display: block;
}
.todo_item_container {
  display: flex;
  font-size: large;
}
