body {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
}
.input-section {
  display: flex;
  flex: wrap;
  justify-content: center;
  align-items: center;
}
#displayitems {
  color: black;
}
button {
  display: block;
}
